{{ define "footer" }}

				<hr>
				<footer class="footer">
					<div class="content">
						<p>
							This is an open source project.<br>
							You can look at the application's source code at <a href="https://github.com/boratanrikulu/kalori">here</a>.<br>
							PRs are welcome.
						</p>
						<p>
							This project is written for Image Processing lesson that is given on Pamukkale University.<br>
  							The project is experimental!
						</p>
						<p>
							If you need to contact me, click <a href="https://boratanrikulu.dev/contact">here</a>.
						</p>
						<hr>
						<p>
  							While traning the model, <a href="https://data.vision.ee.ethz.ch/cvl/datasets_extra/food-101/">food 101 dataset</a> was used.<br>
							Calorie info is taken from <a href="https://fdc.nal.usda.gov/index.html">USDA</a>.
						</p>
					</div>
				</footer>
			</div>
		</section>
	</body>
</html>

{{ end }}