{{ define "head" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="kalori">
		<meta property="og:description" content="kalori - see what is the calorie of your food.">
		<meta property="og:url" content="">
		<link rel="stylesheet" href="/assets/stylesheet/main.css">
		<script type="text/javascript" src="/assets/javascript/main.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<title>kalori</title>
	</head>

{{ end }}
