<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="kalori">
		<meta property="og:description" content="kalori - see what is the calories of your foods.">
		<meta property="og:url" content="">
		<link rel="stylesheet" href="/assets/stylesheet/main.css">
		<script type="text/javascript" src="/assets/javascript/main.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<title>kalori</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">
					kalori
				</h1>
				<p class="subtitle">
					see what is the calories of your foods.
				</p>
				<form action="/recognize" enctype="multipart/form-data" method="post">
					<div class="field">
						<div id="file-js-example" class="file has-name">
							<label class="file-label">
								<input class="file-input" type="file" name="file">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-upload"></i>
									</span>
									<span class="file-label">
										Choose a file…
									</span>
								</span>
								<span class="file-name">
									No file uploaded
								</span>
							</label>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button class="button is-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>

<script>
	const fileInput = document.querySelector('#file-js-example input[type=file]');
	fileInput.onchange = () => {
		if (fileInput.files.length > 0) {
			const fileName = document.querySelector('#file-js-example .file-name');
			fileName.textContent = fileInput.files[0].name;
		}
	}
</script>
