<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="kalori">
		<meta property="og:description" content="kalori - see what is the calories of your foods.">
		<meta property="og:url" content="">
		<link rel="stylesheet" href="/assets/stylesheet/main.css">
		<script type="text/javascript" src="/assets/javascript/main.js"></script>
		<title>kalori</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">
					kalori
				</h1>
				<p class="subtitle">
					see what is the calories of your foods.
				</p>
			</div>
		</section>
	</body>
</html>
